

</body>

<footer id="footer">
  <div class="foot">
    <a href="https://github.com/pandeyom331"><i class="git fab fa-github fa-1x "></i></a>
    <a href="https://www.facebook.com/profile.php?id=100004398076666"><i class="git fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/om_pandey305/"><i class="git fab fa-instagram "></i></a>
    <a class="email" href="mailto:pandeyom305@gmail.com"><i class="git fas fa-envelope"></i></a>
  </div>    
     <p target="_self">© Copyright 2021 To-Do List By WEBZINE</p>
</footer>

</html>
